
/* Section Heading */
.menu-section {
  text-align: center;
  margin-bottom: 40px;
  background-color: #191816;
}

.menu-section h2 {
  font-size: 32px;
  color: #C20E19; /* Red */
  font-weight: normal;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 8px;
}

.menu-section p.subtitle {
  font-style: italic;
  color: #fff;
  margin-bottom: 30px;
  font-size: 16px;
  margin-top: 0px;
}

/* Button */
.menu-section .view-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 30px;
  border: 1.5px solid #CDA075;
  border-radius: 12px;
  background-color: #404040;
  color: #CDA075;
  cursor: pointer;
  box-shadow: 1px 4px 10px 0 rgba(205, 160, 117, 0.32);
  transition: all 0.3s ease;
}

.menu-section .view-button:hover {
  background-color: #CDA075;
  color: #404040;
  box-shadow: 0 6px 12px rgba(227, 181, 123, 0.5);
}

.menu-grid{
    margin-top: 70px;
    background-color: #191816;
}

.menu-card {
  width: 300px;
  height: 550px;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  padding: 0px 25px;
}

.menu-img {
  width: 300px;
  height: 350px;
  border-radius: 24px;
  box-shadow: 0 0 35px rgba(194, 14, 25, 0.5);
}

.menu-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
    object-position: center;
}

.menu-info {
  text-align: center;
  padding: 16px 0px;
  color: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-title {
  font-size: 20px;
  font-weight: normal;
  margin: 12px 0 2px;
  font-family: 'Open Sans', sans-serif;
}

.menu-desc {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 10px;
  color: #fff;
}

.menu-price {
  font-size: 20px;
  font-weight: bold;
  color: #C20E19;
}