body {
  background-color: #312113;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.dishes-container {
  padding: 30px;
  text-align: center;
}

.title {
  color: #CDA075;
  font-size: 26px;
  margin-bottom: 25px;
  letter-spacing: 1px;
  width: 60%;
  font-weight: unset;
}

.menu-cart {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.menu-section-food {
  z-index: 1;
  padding: 40px 20px;
  border-radius: 10px;
  width: 55%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  position: relative;
  margin-bottom: 0px !important;
}

.menu-section-food::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  backdrop-filter: blur(15px);
  background: rgba(80, 50, 20, 1);
  z-index: -1; /* keep it behind the content */
}

.subtitle {
  color: #C20E19;
  font-size: 26px;
  margin-top: 0px !important;
  font-weight: unset;
}

.menu-desc {
  font-size: 13px;
  color: #ccc;
  margin-bottom: 35px;
}

.dishes-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.dish-card {
  /* background-color: #3e2412; */
  border-radius: 10px;
  /* padding: 10px; */
  width: 220px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.dish-card:hover {
  transform: scale(1.05);
}

.dish-img {
  width: 100%;
  /* height: 100px; */
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 0 10px #CDA075;
}

.dish-name {
  margin: 20px 0 5px;
}

.dish-desc {
  font-size: 13px;
  color: #ccc;
}

.dish-price {
  color: #C20E19;
  font-weight: bold;
}

.order-btn {
  background: #404040;
  color: #CDA075;
  border: 1px solid #CDA075;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.order-btn:hover {
  background: #e74c3c;
}

.food_menu {
  margin: 30px;
  text-align: left;
}
.food_menu span {
  margin: 0px 40px;
  color:#CDA075;
}
.menu_dish {
  width: 60%;
}