.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 660px;
}

.franchise-image {
  width: 80%;
}

.franchise-image img {
  width: 100%;
  height: 550px;
  border-radius: 5px;
  background: #000;
}


.why-container {
  color: #ccc;
  text-align: center;
}

.why-title {
  font-size: 36px;
  color: #d60000;
  margin-bottom: 20px;
  font-weight: unset;
}

.why-desc {
  max-width: 1200px;
  margin: 60px auto;
  color: #ccc;
  line-height: 1.6;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: unset;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 120px;
  max-width: 1100px;
  margin: 120px auto;
}

.why-box {
  display: flex;
  align-items: flex-start;
  text-align: left;
  gap: 40px;
}

.why-icon {
  width: 100px;
  height: 100px;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.red-bg {
  background-color: #d60000;
  color: #000
}

.why-box h3 {
  font-size: 32px;
  font-weight: unset;
  margin-bottom: 5px;
  margin-top: 0px;
  color: #fff;
}

.why-box p {
  color: #ccc;
  font-size: 16px;
  line-height: 1.5;
  max-width: 350px;
  letter-spacing: 1px;
}
