/* Main container */
.info-section {
  display: flex;
  background-color: #3f2c1d; /* Dark brown background */
  color: #fff;
  padding: 25px;
  font-family: 'Open Sans', sans-serif;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Left section styling */
.info-left {
  flex: 1;
  max-width: 275px;
  margin-bottom: 20px;
}

.info-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #d2b48c; /* Light brown */
  margin-bottom: 10px;
}

.info-details {
  font-size: 14px;
  margin-bottom: 20px;
}

.info-details a {
  color: #fff;
  text-decoration: underline;
}

.info-details a:hover {
  text-decoration: none;
}

/* Center section styling */
.info-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo-inner {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

/* Right section styling */
.info-right {
  flex: 1;
  max-width: 275px;
  width: fit-content;
}

.img-logo-inner
{
  height: 100%;
  width: 100%;
}

.hours-title {
  color: #dca87f; /* light orange */
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}

.hours-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.day-hour {
  display: flex;
  width: 300px;
  font-size: 14px;
  color: #f5f5f5;
}

.day-name {
  font-weight: 500;
  width: 100px;
}

.time-range {
  font-weight: 400;
  color: #f0e0cc;
}

.offer-section {
    background-color: #000;
    height: 50px;
    color: #CDA075;
    display: flex;
    align-items: center;     
    justify-content: center;
    font-size: 14px;
}
