header {
  background-color: #1a1a1a;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
    margin-right: 100px;
    font-size: 16px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #ccc;
}

.logo img {
  width: 120px;
}

.logo .tagline {
  font-size: 12px;
  color: #ccc;
  margin-left: 5px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.active a {
  color: #d4a05f;
}

nav ul li.active a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #d4a05f;
  margin-top: 5px;
}
