.restaurant-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 660px;
}

.restaurant-image {
  width: 80%;
}

.restaurant-image img {
  width: 100%;
  height: 550px;
  border-radius: 5px;
  box-shadow: 0px 0px 50px -10px #C10D1A;
  background: #000;
  transition: transform 0.3s ease;
}

.restaurant-image img:hover {
  transform: scale(1.02); /* subtle zoom on hover */
}
